*{
    margin:0;
    padding: 0; 
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    max-width: 1200px;
    margin: 0 auto;


}
.debug .header-main-container{
    background-color: aqua;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
   
}
.debug header aside, #sezione{
    background-color: yellow;
    min-width: 300px;
    border-style: dashed;
}
.debug .main-main-conteiner{
    background-color:blue;
    min-width: 10px;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#riquadro1{
    background-color: pink;
    width: 400px;
    height: 200px;
    border-style: dashed;
}
 
section{
    background-color: aqua;
    width: 550px;
    height: 30px;
    border-style: dashed;
    
}
.main-main-conteiner-2{
    background-color:white;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}


#palevioletred{
    background-color: palevioletred;
    width: 200px;    
}

.main-main-conteiner-3{
    background-color:silver;
    min-height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
}


#palevioletred{
    background-color: palevioletred;
    width: 200px;  
}

.main-main-conteiner-4{
    background-color:silver;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#verde{
    background-color:green;
    min-height: 350px;
    width: 550px ;
    margin-top: 5px;
    margin-bottom: 5px;

}
.main-main-conteiner-5{
    background-color:rgb(37, 37, 37);
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#rosa{
    background-color:pink;
    width: 150px ;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#chiaro{
    background-color:aqua;
    width: 100px ;
    height: 200px;
    margin-top: 5px;
    margin-bottom: 5px;

}
.main-main-conteiner-6{
    background-color:rgb(37, 37, 37);
    min-height: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#yellow-line{
    background-color: aquamarine;
    min-width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;

}



